<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <link rel="icon" href="{{ url_for('static', filename='logo.png')}}" type="image/x-icon">
    <!-- href="{{ url_for('static', filename='')}}" -->
    <title>SilverCure | Report</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='themify-icons.css')}}">

    <!-- Bootstrap + Creative Studio main styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='creative-studio.css')}}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='logo.png')}}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Home</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->
    <!-- Fatcs Section -->
<section class="has-bg-img bg-img-2">
    <div class="container text-center">
        <br><br><br>
        <h4 class="section-subtitle">Your</h4>
        <h4 class="section-title mb-2">Report</h4>
        <h4 class="section-subtitle mb-3">has been Successfully Generated and Stored in IPFS</h4>
        <h3 class="section-subtitle2"><b>Hash Key</b></h3>
        <h6 class="section-subtitle3">{{hash_key}}</h6>
        <a  href= "{{file_link}}" class="btn btn-primary rounded w-lg btn-lg my-1">View File</a>
    </div>
</section>
<!-- Report Section -->
<!-- <section id="report-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center">Assessment Report</h2>
                <div class="report">
                    <p>Name: <span id="report-name"></span></p>
                    <p>Age: <span id="report-age"></span></p>
                    <p>Gender: <span id="report-gender"></span></p>
                    <p>Fatigue: <span id="report-slider1"></span></p>
                    <p>Restless: <span id="report-slider2"></span></p>
                    <p>Discomfort: <span id="report-slider3"></span></p>
                    <p>Hygiene: <span id="report-slider4"></span></p>
                    <p>Movements: <span id="report-slider5"></span></p>
                </div>
            </div>
        </div>
    </div>
</section><br> -->
<!-- End of Report Section -->

    <!-- End of Form Section -->
    <section class="has-bg-img py-0">
        <div class="container">
            <div class="footer">
                <div class="footer-lists">
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">ABOUT US</h6>
                        </li>
                        <li class="list-body">
                            <a href="#" class="logo">
                                <img src="{{ url_for('static', filename='logo.png')}}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                                <h6>Your well-being is our priority</h6>
                            </a>
                            <p>We're dedicated to enriching the mental health of our cherished seniors. By nurturing the mental health of our seniors, we're sowing the seeds for stronger communities, happier families, and a brighter tomorrow for all. We understand that mental health is an integral part of a fulfilling life, and for too long, it has been a silent struggle. With tailored activities and personalized care, we're here to ensure brighter days and a lasting social ripple effect. Join us in this journey to make every moment count.</p>
                            <!-- <p class="mt-3">
                                Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" href="http://www.devcrud.com">DevCRUD</a>
                            </p>                    -->
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">USEFUL LINKS</h6>
                        </li>
                        <li class="list-body">
                            <div class="row">
                                <div class="col">
                                    <a href="#about">About</a>
                                    <a href="#service">Service</a>
                                </div>
                                <div class="col">
                                    <a href="#team">Team</a>
                                    <a href="#">Privacy Policy</a>                  
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">CONTACT INFO</h6>
                        </li>
                        <li class="list-body">
                            <p>Contact us and we'll get back to you within 24 hours.</p>
                            <p><i class="ti-location-pin"></i>Bengaluru, 560029</p>
                            <p><i class="ti-email"></i>  christuniversity.in</p>
                            <div class="social-links">
                                <a href="javascript:void(0)">Nandini</i></a>
                                <a href="javascript:void(0)">Hiran</i></a>
                                <a href="javascript:void(0)">Nitendra</i></a>
                                <a href="javascript:void(0)">Andriya</i></a>
    
                            </div>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>
    </section>
    <!-- core -->